<div class="nav-left-sidebar sidebar-dark">
  <div class="menu-list">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="d-xl-none d-lg-none" href="">Panel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav flex-column">
          <li class="nav-divider">Menu</li>
          <!-- PROFESOR -->
          
          <li class="nav-item">
              {% url 'manage_staff' as manage_staff %}
              {% url 'edit_staff' staff_id=id as edit_staff %}
              <a href="{{ manage_staff }}" class="nav-link {% if request.path == manage_staff %} active {% endif %} {% if request.path == edit_staff %} active {% endif %}">
                <i class="fa fa-fw fa-user"></i>Gestion Profesor
                </a>
          </li>

          <li class="nav-item">
              {% url 'add_staff' as add_staff %}
              <a href="{{ add_staff }}" class="nav-link {% if request.path == add_staff %} active {% endif %}">
                <i class="fa fa-fw fa-user-plus"></i>Agregar Profesor
                </a>
          </li>

          <!-- ESTUDIANTE -->
          <li class="nav-item">
              {% url 'manage_student' as manage_student %}
              {% url 'edit_student' student_id=id as edit_student %}
              <a href="{{ manage_student }}" class="nav-link {% if request.path == manage_student %} active {% endif %} {% if request.path == edit_student %} active {% endif %}">
                <i class="fa fa-fw fa-user"></i>Gestion Estudiante
                </a>
          </li>

          <li class="nav-item">
              {% url 'add_student' as add_student %}
              <a href="{{ add_student }}" class="nav-link {% if request.path == add_student %} active {% endif %}">
                <i class="fa fa-fw fa-user-plus"></i>Agregar Estudiante
                </a>
          </li>

          <!-- CURSOS -->
          <li class="nav-item">
              {% url 'add_course' as add_course %}
              <a href="{{ add_course }}" class="nav-link {% if request.path == add_course %} active {% endif %}">
                <i class="fa fa-fw fa-plus"></i>Agregar Curso
                </a>
          </li>

          <!-- TUTORIAS -->
          <li class="nav-item">
              {% url 'manage_subject' as manage_subject %}
              {% url 'edit_subject' subject_id=id as edit_subject %}
              <a href="{{ manage_subject }}" class="nav-link {% if request.path == manage_subject %} active {% endif %} {% if request.path == edit_subject %} active {% endif %}">
                  <i class="nav-icon fas fa-book"></i>Gestion de Tutoria
                </a>
          </li>

          <li class="nav-item">
              {% url 'add_subject' as add_subject %}
              <a href="{{ add_subject }}" class="nav-link {% if request.path == add_subject %} active {% endif %}">
                  <i class="fa fa-fw fa-plus"></i>Agregar Tutoria
                </a>
          </li>

          <!-- TUTORIAS -->
          <li class="nav-item">
              {% url 'manage_session' as manage_session %}
              {% url 'edit_session' session_id=id as edit_session %}
              <a href="{{ manage_session }}" class="nav-link {% if request.path == manage_session %} active {% endif %} {% if request.path == edit_session %} active {% endif %}">
                  <i class="nav-icon fas fa-graduation-cap"></i>Administrar sesión
                </a>
          </li>

          <li class="nav-item">
              {% url 'add_session' as add_session %}
              <a href="{{ add_session }}" class="nav-link {% if request.path == add_session %} active {% endif %}">
                  <i class="nav-icon fas fa-th"></i>Agregar sesión
                </a>
          </li>

          <!-- ASISTENCIA -->
          <li class="nav-item">
              {% url 'admin_view_attendance' as admin_view_attendance %}
              <a href="{{ admin_view_attendance }}" class="nav-link {% if request.path == admin_view_attendance %} active {% endif %}">
                  <i class="nav-icon fas fa-calendar-alt"></i>Ver Asistencia
                </a>
          </li>
          
          <!-- COMENTATIOS -->
          <li class="nav-item">
              {% url 'student_feedback_message' as student_feedback_message %}
              <a href="{{ student_feedback_message }}" class="nav-link {% if request.path == student_feedback_message %} active {% endif %}">
                  <i class="nav-icon fas fa-th"></i>Comentarios Es
                </a>
          </li>

          <li class="nav-item">
              {% url 'staff_feedback_message' as staff_feedback_message %}
              <a href="{{ staff_feedback_message }}" class="nav-link {% if request.path == staff_feedback_message %} active {% endif %}">
                  <i class="nav-icon fas fa-th"></i>Comentarios Pr
                </a>
          </li>

          <!-- OTROS -->
          <li class="nav-item">
              {% url 'student_leave_view' as student_leave_view %}
              <a href="{{ student_leave_view }}" class="nav-link {% if request.path == student_leave_view %} active {% endif %}">
                  <i class="nav-icon fas fa-th"></i>Revisa Est
                </a>
          </li>


          <li class="nav-item">
              {% url 'staff_leave_view' as staff_leave_view %}
              <a href="{{ staff_leave_view }}" class="nav-link {% if request.path == staff_leave_view %} active {% endif %}">
                  <i class="nav-icon fas fa-th"></i>
                    Revisa profe
                </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
